/* .home {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
    background: red;
}

.sidebar.close~.home {
    left: 88px;
    width: calc(100% - 88px);
} */

body {
    background: #1b1b27;
}


/* .movimiento {
    background-color: red;
} */